html {font-size: 62.5%;}

body {
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    max-width: 500px;
}
* {box-sizing: border-box;}

header {

    background: black;
    text-align: center;
    color: white;
}

header button{

    padding: 4px 7px;
    background-color: #e23232;
    border: 0;
    color: white;
    font-weight: bold;
}